*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


.container{
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
}

.title-card{
    margin-left: 24px;
    padding: 5px 5px 0 5px;
    background-color: gray;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: fit-content;
    color: white;
}

.btn{
    background-color: white;
    font-weight: 700;
    margin: 5px;
    padding: 6px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.oponent-container{
    margin: 64px 0;
}

.oponent{
    background-color: gray;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    height: 100%;
}

.player{
    flex-wrap: wrap;
    gap: 20px;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs{
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.round{
    align-self: center;
    height: 35px;
}

.footer{
    color: white;
    margin: 12px;
}

#console{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    padding: 24px;
    border: 2px solid white;
    border-radius: 10px;
}

.option-btn img{
    border-radius: 10px;
}

.option-btn{
    border: 3px solid white;
    cursor: pointer;
    border-radius: 10px;
}

.option-img{
    width: auto;
    max-height: 150px;
}

#movComp{
    border-radius: 50%;
}

.selected{
    border: 3px solid gold;
}

.hidden{
    display: none;
}